@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-brand-text bg-brand-bg transition-colors duration-300;
  }
  
  body.dark {
    @apply bg-gray-900 text-gray-100;
  }
}

@layer utilities {
  .animate-on-update {
    animation: fadeIn 1s ease-out, shimmer 1s ease-out;
  }
}

